/Data
Notebooks/Chest-XR-Grand_challenge/covid_baseline.pt
Notebooks/Chest-XR-Grand_challenge/Pneumonia_model.pt
Notebooks/Chest-XR-Grand_challenge/baseline_2_model.pt
Notebooks/Chest-XR-Grand_challenge/Resnet50_100_epochs_final.pt
Notebooks/Chest-XR-Grand_challenge/Resnet50_100_epochs.pt
Notebooks/Chest-XR-Grand_challenge/DenseNet_final.pt
Notebooks/Chest-XR-Grand_challenge/DenseNet.pt
Notebooks/Chest-XR-Grand_challenge/DenseNet_size480.pt
Notebooks/Chest-XR-Grand_challenge/first_sub_akansh.csv
Notebooks/Chest-XR-Grand_challenge/efficientNet.pt
Notebooks/Chest-XR-Grand_challenge/efficientNet_best_acc.pt
